[submodule "jupyerlab-desktop"]
	path = jupyerlab-desktop
	url = https://github.com/tribbloid/jupyerlab-desktop
[submodule "libinput-gestures"]
	path = libinput-gestures
	url = https://github.com/tribbloid/libinput-gestures
[submodule "android/anbox-playstore-installer"]
	path = android/anbox-playstore-installer
	url = https://github.com/geeks-r-us/anbox-playstore-installer
